@font-face {
  font-family: 'general font';
  src: url('./assets/Karma-Regular.ttf');
}
:root {
  /* color palet  */
  --white-color: #fff;
  --black-color: #363636;

  --sec-color: #f81e4f;
  --blue-color:#3a62f0;
  --purple-color:#bd00ff80;
  --font-color-primary: black;
    --button-bg-color:var(--sec-color);
  --button-color:var(--pri-color);

  /* font size  */
  --text-heading-hero: 70px;
  --text-heading-body: 50px;
  --text-fontsize-md: 32px;
  --text-fontsize-rg: 24px;
  --text-fontsize-sm: 16px;

  /* font family  */
  --font-reg:'general-font';
}

